*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# vim files
*.swp

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea

# PyPi
.pypirc

data/
events/
log/
_build/
venv/

# backup file
.bak
.Rproj.user

.ipynb*/

test-*
*.json
*.svg
